.function-junction-editor {
  overflow: hidden;
  touch-action: none;

  transform-origin: 0px 0px;

  background-size: 20px 20px;
  background-image: linear-gradient(to right, rgb(242, 242, 247) 1px, transparent 1px), linear-gradient(to bottom, rgb(242, 242, 247) 1px, transparent 1px);
  background-color: white;

  position: relative;

  height: 100%;
  width: 100%;
}

.function-junction-appearance-dark {
  &.function-junction-editor {
    color: white;
    background-image: linear-gradient(to right, #363636 1px, transparent 1px), linear-gradient(to bottom, #363636 1px, transparent 1px);
    background-color: #272727;
  }
}