html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: -apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 35px;
  margin: 4px;
}

.list {
  ul {
    background: transparent;

    .item-content {
      padding-left: 0;
    }
  }
}