@mixin set($clamp) {
  -webkit-line-clamp: $clamp;
  line-clamp: $clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
}
